body {
	#ifMobile1 {
    background-image: url(Screen Shot 2021-03-02 at 3.42.44 PM.png)
    background-repeat: no-repeat
	    max-width: 100%  ;
    height: auto  ;
}

@media all and (max-width: 499px) {
    #ifMobile1 {
        background-image: url(Screen Shot 2021-03-02 at 3.42.44 PM.png)
        background-repeat: no-repeat
		max-width: 499px;
        height: auto  ;
    }
}
	
